<p-toast></p-toast>


<div class="wrapper">
    <div class="container">
        <p-card header="Register" >
            <form [formGroup]="registerForm" class="example-form" (ngSubmit)="register()">
            <span class="p-float-label">
                <input formControlName="username" id="float-username" type="text" pInputText aria-describedby="username2-help"> 
                <label for="float-username">Username</label>
            </span>
            <div *ngIf="registerForm.get('username')?.hasError('required') && registerForm.get('username')?.touched">
                <small id="username2-help" class="p-error block">Username is required.</small>
            </div>
            <span class="p-float-label" style="margin-top: 25px;">
                <p-password formControlName="password"  aria-describedby="password-help" styleClass="p-password p-component p-inputwrapper p-input-icon-right" [style]="{'width':'100%'}" [inputStyle]="{'width':'100%'}" id="float-password"  [toggleMask]="true"></p-password>
                <label for="float-password">Password</label>
            </span>
            <div *ngIf="registerForm.get('password')?.hasError('required') && registerForm.get('password')?.touched">
                <small id="password-help" class="p-error block">Password is required.</small>
            </div>
            <span class="p-float-label" style="margin-top: 25px;">
                <p-password formControlName="password2" aria-describedby="password2-help" styleClass="p-password p-component p-inputwrapper p-input-icon-right" [style]="{'width':'100%'}" [inputStyle]="{'width':'100%'}" id="float-password2"  [toggleMask]="true"></p-password>
                <label for="float-password2">Confirm Password</label>
            </span>
            <div *ngIf="registerForm.get('password2')?.hasError('required') && registerForm.get('password2')?.touched">
                <small id="password2-help" class="p-error block">Password2 is required.</small>
            </div>
            <div *ngIf="registerForm.get('password2')?.hasError('notEqual')">
                <small id="password2-help" class="p-error block">Passwords don't match.</small>
            </div>
            <p-button class="mt-3 mb-3" type="submit" label="Submit"></p-button>
            </form>
            <a routerLink="/auth/login">Already have an account?</a>
        </p-card>
        
    </div>
</div>

